networks:
  hpc_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/16

services:
  login:
    build:
      context: .
      dockerfile: Dockerfile
      target: controller
    environment:
    - USER_BOOTSTRAP=1
    container_name: login
    hostname: login
    ports:
      - "2424:22"  # SSH in from outside
    networks:
      - hpc_net
    mem_limit: 2g
    depends_on:
      - compute1
      - compute2
    volumes:
      - ./homes:/home:rw
      - ./shared:/shared:rw
      - ./munge:/etc/munge:rw
      - ./slurm/conf:/etc/slurm:rw
      - ./slurm/login:/var/spool/slurmctld:rw
      - ./slurm/log:/var/log/slurm:rw
      - ./users:/etc/hpc:ro
      - ./nextflow/pipelines:/opt/nextflow/pipelines:ro
    entrypoint: ["/usr/local/bin/entrypoint.sh", "controller"]
    restart: unless-stopped

  compute1:
    build:
      context: .
      dockerfile: Dockerfile
      target: compute
    container_name: compute1
    hostname: compute1
    networks:
      - hpc_net
    mem_limit: 2g
    volumes:
      - ./homes:/home:rw
      - ./shared:/shared:rw
      - ./munge:/etc/munge:rw
      - ./slurm/conf:/etc/slurm:rw
      - ./slurm/compute1:/var/spool/slurmd:rw
      - ./slurm/log:/var/log/slurm:rw
      - ./users:/etc/hpc:ro
    entrypoint: ["/usr/local/bin/entrypoint.sh", "compute"]
    restart: unless-stopped

  compute2:
    build:
      context: .
      dockerfile: Dockerfile
      target: compute
    container_name: compute2
    hostname: compute2
    networks:
      - hpc_net
    mem_limit: 2g
    volumes:
      - ./homes:/home:rw
      - ./shared:/shared:rw
      - ./munge:/etc/munge:rw
      - ./slurm/conf:/etc/slurm:rw
      - ./slurm/compute2:/var/spool/slurmd:rw
      - ./slurm/log:/var/log/slurm:rw
      - ./users:/etc/hpc:ro
    entrypoint: ["/usr/local/bin/entrypoint.sh", "compute"]
    restart: unless-stopped

  dtn:
    build:
      context: .
      dockerfile: Dockerfile
      target: dtn
    container_name: dtn
    hostname: dtn
    networks:
      - hpc_net
    mem_limit: 2g
    volumes:
      - ./homes:/home:rw
      - ./shared:/shared:rw
      - ./users:/etc/hpc:ro
    entrypoint: ["/usr/local/bin/entrypoint.sh", "dtn"]
    restart: unless-stopped